data/
plots/
.idea/
.obsidian
archive/
logs/
temp/
tex.cache/
res/*.json
**/computed/
**/.ipynb_checkpoints
**.DS_Store
**__pycache__
**.pyc
**.csv
**.ipynb
**.png
**.jpg
**.pdf
**.log
**.out
**.pdf
.vscode/